<link rel="stylesheet" href="/static/styles/darts_bad.css?v=1.0">
<% include partials/header.ejs %>
  <div class="wrapper">
    <main class="column">
      <div>
        <section class="actions">
          <h2 class="title">Table</h2>
          <table>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
          </table>
        </section>
        <section class="content">
          <h2 class="title">Darts</h2>

          <div class="darts" id="darts">
            <div class="circle-outer">
              <span class="circle-text">1</span>
              <span class="circle-text">2</span>
              <span class="circle-text">3</span>
              <span class="circle-text">4</span>
              <span class="circle-text">5</span>
              <span class="circle-text">6</span>
              <span class="circle-text">7</span>
              <span class="circle-text">8</span>
              <span class="circle-text">9</span>
              <span class="circle-text">10</span>
              <span class="circle-text">11</span>
              <span class="circle-text">12</span>
              <span class="circle-text">13</span>
              <span class="circle-text">14</span>
              <span class="circle-text">15</span>
              <span class="circle-text">16</span>
              <span class="circle-text">17</span>
              <span class="circle-text">18</span>
              <span class="circle-text">19</span>
              <span class="circle-text">20</span>
              <span class="circle-outer-border"></span>
            </span>
            <div class="target target-double __green" data-target-multipliers="2">
              <span class="sector sector-1" data-target-value="1"></span>
              <span class="sector sector-2" data-target-value="4"></span>
              <span class="sector sector-3" data-target-value="6"></span>
              <span class="sector sector-4" data-target-value="15"></span>
              <span class="sector sector-5" data-target-value="17"></span>
              <span class="sector sector-6" data-target-value="19"></span>
              <span class="sector sector-7" data-target-value="16"></span>
              <span class="sector sector-8" data-target-value="11"></span>
              <span class="sector sector-9" data-target-value="9"></span>
              <span class="sector sector-10" data-target-value="5"></span>
            </div>
            <div class="target target-double __red" data-target-multipliers="2">
              <span class="sector sector-1" data-target-value="18"></span>
              <span class="sector sector-2" data-target-value="13"></span>
              <span class="sector sector-3" data-target-value="10"></span>
              <span class="sector sector-4" data-target-value="2"></span>
              <span class="sector sector-5" data-target-value="3"></span>
              <span class="sector sector-6" data-target-value="7"></span>
              <span class="sector sector-7" data-target-value="8"></span>
              <span class="sector sector-8" data-target-value="14"></span>
              <span class="sector sector-9" data-target-value="12"></span>
              <span class="sector sector-10" data-target-value="20"></span>
            </div>
            <div class="target target-single __white" data-target-multipliers="1">
              <span class="sector sector-1" data-target-value="1"></span>
              <span class="sector sector-2" data-target-value="4"></span>
              <span class="sector sector-3" data-target-value="6"></span>
              <span class="sector sector-4" data-target-value="15"></span>
              <span class="sector sector-5" data-target-value="17"></span>
              <span class="sector sector-6" data-target-value="19"></span>
              <span class="sector sector-7" data-target-value="16"></span>
              <span class="sector sector-8" data-target-value="11"></span>
              <span class="sector sector-9" data-target-value="9"></span>
              <span class="sector sector-10" data-target-value="5"></span>
            </div>
            <div class="target target-single __black" data-target-multipliers="1">
              <span class="sector sector-1" data-target-value="18"></span>
              <span class="sector sector-2" data-target-value="13"></span>
              <span class="sector sector-3" data-target-value="10"></span>
              <span class="sector sector-4" data-target-value="2"></span>
              <span class="sector sector-5" data-target-value="3"></span>
              <span class="sector sector-6" data-target-value="7"></span>
              <span class="sector sector-7" data-target-value="8"></span>
              <span class="sector sector-8" data-target-value="14"></span>
              <span class="sector sector-9" data-target-value="12"></span>
              <span class="sector sector-10" data-target-value="20"></span>
            </div>
            <div class="target target-triple __green" data-target-multipliers="3">
              <span class="sector sector-1" data-target-value="1"></span>
              <span class="sector sector-2" data-target-value="4"></span>
              <span class="sector sector-3" data-target-value="6"></span>
              <span class="sector sector-4" data-target-value="15"></span>
              <span class="sector sector-5" data-target-value="17"></span>
              <span class="sector sector-6" data-target-value="19"></span>
              <span class="sector sector-7" data-target-value="16"></span>
              <span class="sector sector-8" data-target-value="11"></span>
              <span class="sector sector-9" data-target-value="9"></span>
              <span class="sector sector-10" data-target-value="5"></span>
            </div>
            <div class="target target-triple __red" data-target-multipliers="3">
              <span class="sector sector-1" data-target-value="18"></span>
              <span class="sector sector-2" data-target-value="13"></span>
              <span class="sector sector-3" data-target-value="10"></span>
              <span class="sector sector-4" data-target-value="2"></span>
              <span class="sector sector-5" data-target-value="3"></span>
              <span class="sector sector-6" data-target-value="7"></span>
              <span class="sector sector-7" data-target-value="8"></span>
              <span class="sector sector-8" data-target-value="14"></span>
              <span class="sector sector-9" data-target-value="12"></span>
              <span class="sector sector-10" data-target-value="20"></span>
            </div>
            <div class="target target-single-inside __white" data-target-multipliers="1">
              <span class="sector sector-1" data-target-value="1"></span>
              <span class="sector sector-2" data-target-value="4"></span>
              <span class="sector sector-3" data-target-value="6"></span>
              <span class="sector sector-4" data-target-value="15"></span>
              <span class="sector sector-5" data-target-value="17"></span>
              <span class="sector sector-6" data-target-value="19"></span>
              <span class="sector sector-7" data-target-value="16"></span>
              <span class="sector sector-8" data-target-value="11"></span>
              <span class="sector sector-9" data-target-value="9"></span>
              <span class="sector sector-10" data-target-value="5"></span>
            </div>
            <div class="target target-single-inside __black" data-target-multipliers="1">
              <span class="sector sector-1" data-target-value="18"></span>
              <span class="sector sector-2" data-target-value="13"></span>
              <span class="sector sector-3" data-target-value="10"></span>
              <span class="sector sector-4" data-target-value="2"></span>
              <span class="sector sector-5" data-target-value="3"></span>
              <span class="sector sector-6" data-target-value="7"></span>
              <span class="sector sector-7" data-target-value="8"></span>
              <span class="sector sector-8" data-target-value="14"></span>
              <span class="sector sector-9" data-target-value="12"></span>
              <span class="sector sector-10" data-target-value="20"></span>
            </div>
            <div class="target target-50" data-target-value="50"></div>
            <div class="target target-100" data-target-value="100"></div>
          </div>
        </section>
      </div>
    </main>
    <% include partials/menu.ejs %>
  </div>
<% include partials/footer.ejs %>