
.darts {
  position: relative;
  display: block;
  width: 650px;
  height: 650px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(-9deg);
}

.circle-text {
  font-size: 50px;
  color: #fff;
  border-radius: 0;
  transform: rotate(9deg);
  position: absolute;
}

.circle-text:nth-child(20) {
  top: 5px;
  left: 340px;
}

.circle-text:nth-child(19) {
  top: 545px;
  left: 170px;
}

.circle-text:nth-child(18) {
  top: 90px;
  left: 500px;
}

.circle-text:nth-child(17) {
  top: 570px;
  left: 340px;
}

.circle-text:nth-child(16) {
  top: 420px;
  left: 40px;
}

.circle-text:nth-child(15) {
  top: 485px;
  left: 505px;
}

.circle-text:nth-child(14) {
  top: 160px;
  left: 40px;
}

.circle-text:nth-child(13) {
  top: 250px;
  left: 575px;
}

.circle-text:nth-child(12) {
  top: 35px;
  left: 155px;
}

.circle-text:nth-child(11) {
  top: 245px;
  left: 15px;
}

.circle-text:nth-child(10) {
  top: 415px;
  left: 550px;
}

.circle-text:nth-child(9) {
  top: 90px;
  left: 110px;
}

.circle-text:nth-child(8) {
  top: 335px;
  left: 25px;
}

.circle-text:nth-child(7) {
  top: 495px;
  left: 110px;
}

.circle-text:nth-child(6) {
  top: 335px;
  left: 590px;
}

.circle-text:nth-child(5) {
  top: 10px;
  left: 260px;
}

.circle-text:nth-child(4) {
  top: 165px;
  left: 560px;
}

.circle-text:nth-child(3) {
  top: 570px;
  left: 270px;
}

.circle-text:nth-child(2) {
  top: 545px;
  left: 440px;
}

.circle-text:nth-child(1) {
  top: 35px;
  left: 435px;
}